body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 3em 0.5em 0.5em 0.5em;
}

strong, em, b, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.auth {
    position: absolute;
    top: .75em; right: 1em;
}
.auth ul.nav {
    margin: 0; padding: 0;
}
.auth ul.nav li {
    display: inline;
    list-style: none;
    padding-left: 1em;
    font-size: 90%;
}

#pageheader {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-color: #ddd;
    height: 2.5em;
}
#pageheader .nav {
    background-color: #ddd;
    padding: 0.75em 0 0 1em;
}
#pageheader h1 {
    float: left;
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
    font-size: 90%;
}
#pageheader h2 {
    float: left;
    margin: 0 0 0 0; 
    padding: 0 0 0 0.5em;
    font-size: 90%;
}

#pageheader .new_note {
    display: inline;
}

#pagebody .notes {
    margin: 0; 
    padding: 0;
}
#pagebody .notes .note {
    list-style: none;
    margin: 0 0 0.75em 0;
    padding: 0.5em 0.75em;
    border: 1px solid #ccc;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
#pagebody .notes .note h4 {
    margin: 0 0 0.25em 0; 
    padding: 0;
    font-size: 110%;
}
#pagebody .notes .note h4 a {
    display: block;
}
#pagebody .notes .note p.date {
    font-size: 75%;
    margin: 0 0 0.75em 0;
}
#pagebody .notes .note ul.actions {
    list-style: none;
    margin: 0.5em 0em; 
    padding: 0;
    font-size: 70%;
}
#pagebody .notes .note ul.actions li {
    display: inline;
    margin: 0 0 0 0;
}
#pagebody .notes .note ul.actions li {
}
#pagebody .notes .note ul.actions li a {
    padding: 0.125em 0.75em;
    margin: 0 0.125em 0 0;
    border: 1px solid #aaa;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#pagebody .notes .note ul.actions li a:hover {
    text-decoration: none;
    background: #ddd;
}

#pagebody .notes .note p {
    margin: 0; 
    padding: 0;
}

#pagebody form fieldset {
    padding: 0.75em 1em; 
    margin: 0.25em;
    border: 1px solid #aaa;
}
#pagebody form fieldset fieldset {
    padding: 0.25em; 
    margin: 0.25em;
}
#pagebody form fieldset legend {
    font-size: 0.75em;
    color: #666;
}
#pagebody form fieldset .intro {
    padding-bottom: 1em;
    margin: 0 0 1em 0;
}
#pagebody form ul.errors {
    color: red;
    font-size: 0.85em;
    padding: 0 0 1em 2em;
}
#pagebody form ul.fields {
    list-style: none;
    padding: 0;
    margin:  0;
}
#pagebody form ul.fields li {
    margin-bottom: 0.25em;
}
#pagebody form ul.fields li label {
    float: left;
    display: block;
    width: 20ex;
    padding-top: 0.125em;
    font-size: 0.85em;
    margin-right: 1.5ex;
    text-align: right;
}
#pagebody form ul.fields li.required label {
}
#pagebody form ul.fields li.required label:before {
    content: "*\00a0";
    color: #f33;
}
#pagebody form ul.fields li .required_note {
}
#pagebody form ul.fields li .required_note span {
    color: #f33;
}
#pagebody form ul li p.notes {
    margin: 0 0 0 24ex;
    font-size: 0.75em;
}
#pagebody form ul.fields li.error label {
    color: #ff0000;
}
#pagebody form ul.fields li.error input {
    background-color: #ffeeee;
}
#pagebody form ul.fields li.captcha img {
    display: block;
    margin-left: 18.5ex;
}

#pagebody form ul.fields li.text input, #pagebody form ul.fields li.password input {
    width: 50ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#pagebody form ul.fields li.textarea textarea {
    width: 50ex;
    height: 15ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#pagebody form fieldset.narrow-labels li label {
    width: 10ex;
}


.main_editform #editor .header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    background-color: #ddd;
}
.main_editform .mobile #editor .header {
    height: 2em;
}
.main_editform #editor .header h1 {
    padding: 0; 
    margin: 0;
    font-size: 1.25em;
}
.main_editform .mobile #editor .header h1 {
    text-align: center;
}
.main_editform #editor #text {
    position: absolute;
    display: block;
    left: 4px;
    top: 3.5em;
    width: 310px;
    height: 345px;
}
.main_editform #editor .save {
}
.main_editform #editor .footer {
    position: absolute;
    left: 0; bottom: 10px;
    width: 100%;
    background-color: #ddd;
}
.main_editform #editor .footer .back {
    margin-left: 2em;
}
.main_editform .mobile #editor .footer {
    position: absolute;
    left: 0; top: 380px;
    text-align: center;
}
