.main_editform #editor .header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    background-color: #ddd;
}
.main_editform .mobile #editor .header {
    height: 2em;
}
.main_editform #editor .header h1 {
    padding: 0; 
    margin: 0;
    font-size: 1.25em;
}
.main_editform .mobile #editor .header h1 {
    text-align: center;
}
.main_editform #editor #text {
    position: absolute;
    display: block;
    left: 4px;
    top: 3.5em;
    width: 310px;
    height: 345px;
}
.main_editform #editor .save {
}
.main_editform #editor .footer {
    position: absolute;
    left: 0; bottom: 10px;
    width: 100%;
    background-color: #ddd;
}
.main_editform #editor .footer .back {
    margin-left: 2em;
}
.main_editform .mobile #editor .footer {
    position: absolute;
    left: 0; top: 380px;
    text-align: center;
}
