.test-passed-true {
    color: green;
}
.test-passed-false {
    color: red;
}
#test-results .palm-group .palm-list .row {
    padding-left: 10px;
}

.home-scene .palm-header {
    text-align: left;
}
.home-scene .palm-header .header-text {
    background: transparent url(../images/page_white_stack.png) no-repeat 0px 15px;
    padding-left: 22px;
}
.home-scene .sort-selector-menu {
    top: 34px;
    left: auto;
    right: 0px;
}
.home-scene #sort-selector {
    cursor: pointer;
	position:absolute;
    top: 0px;
    right: 0px;
	float:right;
	margin: 8px -16px 0px 0px;
    padding: 0 4px 0 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	height:35px;
	line-height: 33px;
    min-width: 8ex;
	border-width: 0px 22px 0px 16px;
	-webkit-border-image: url(../images/header_selector.png) 0 22 0 16 stretch stretch;
	-webkit-box-sizing: border-box;	
}

.home-scene #notes-list .palm-group .palm-list .note-item .title {
    padding: 2px 0px 0px 30px;
    background: transparent url(../images/page_white_text.png) no-repeat 8px 8px;
}
.home-scene #notes-list .palm-group .palm-list .note-item .title .truncating-text {
    height: auto;
    min-height: 0;
}
.home-scene #notes-list .palm-group .palm-list .note-item .preview {
    padding: 0 0 0 30px;
}
.home-scene .palm-menu-icon.new-note {
    /*
    background: transparent url(../images/page_white_add_cmd.png) no-repeat 8px 8px;
    */
    background: transparent url(../images/new_note.png) no-repeat 8px 8px;
    margin: -4px 0 0 -4px;
}

.note-scene .palm-header {
    text-align: left;
}
.note-scene #name {
    background: transparent url(../images/page_white_text.png) no-repeat 0px 16px;
    padding-left: 22px;
}
.note-scene #name input {
    margin-top: 9px;
}
.note-scene #main.palm-hasheader {
    margin-top: 46px;
}
.note-scene #text {
    padding: 0 10px 0 10px;
    min-height: 400px;
}

.preferences-scene #sync_url,
.preferences-scene #sync_url input {
   font-size: 85%;
}
